<div *ngFor="let item of images ;trackBy:trackFn">
  <ff-lazyimg (imageLoaded)="imageLoaded($event)"
              (imageInserted)="imageInserted($event)"
              [configuration]="item"
              [shouldLoad]="item.load"
  ></ff-lazyimg>


  {{item.load}}
  <button (click)="triggerChange(item)"> trigger change</button>
</div>
<h2>Image with load boolean in configuration</h2>
<p>To update the whole object must be replaced due to change detection mechanism</p>
<div *ngFor="let item of imageWithLoadInConf">
  <ff-lazyimg (imageLoaded)="imageLoaded($event)" (imageInserted)="imageInserted($event)"
              [configuration]="item"></ff-lazyimg>
  {{item.load}}
  <button (click)="updateConfLoad(item)">Load image the other way</button>
</div>


<h2>a single image</h2>
<ff-lazyimg (imageLoaded)="imageLoaded($event)" (imageInserted)="imageInserted($event)"
            [configuration]="image"></ff-lazyimg>
{{image.load}}
<button (click)="updateConfLoadImage(image)">Load image the other way</button>

<h2>inserted images here</h2>
<p>This shows how images inserted after first render or data recieved will be insert on the fly</p>
<div *ngFor="let item of insertedImages">
  <ff-lazyimg (imageLoaded)="imageLoaded($event)" (imageInserted)="imageInserted($event)"
              [configuration]="item"></ff-lazyimg>
</div>
